@import '../../../scss/global';

.heading {
  @include container;
  margin-top: 100px;
  margin-bottom: 100px;
  h1 {
    font-size: 3.2em;
    margin-bottom: 0.3em;
  }
  p {
    width: 100%;
    line-height: 27.2px;
    opacity: 0.8;
    @include for-size(desktop-up) {
      width: 600px;
    }
  }
}
.start {
  @include container;
  h3 {
    @include for-size(desktop-up) {
      width: 600px;
    }
  }
  button {
    cursor: pointer;
  }
}
.income {
  @include container;
  &__amount {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include for-size(desktop-up) {
      width: 50%;
    }
    margin-top: 20px;
    input {
      width: 80%;
      align-self: start;
      padding: 1em 3em;
      border: 3px solid rgb(32, 118, 230);
      outline: none;
      margin-top: 10px;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  @include for-size(desktop-up) {
    width: 46%;
  }
  button {
    cursor: pointer;
  }
  button:not(:first-child) {
  }
}
.total {
  margin: 5em 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 2rem;
  }
  p {
    color: green;
    font-size: 1.5rem;
    font-weight: 800;
  }
}
.income-value {
  margin-top: 30px;

  @include for-size(desktop-up) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__items {
    background-color: $light-green;
    padding: 1em;
    color: $main-color;
    box-shadow: 0px 3px 10px gray;
    margin: 1em 0;
    @include for-size(desktop-up) {
      margin: 0;
    }
  }
}
